.errors {
  color: red;
}
.form {
  margin-top: 2%;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 5px;
  /*
  margin-bottom: 105px;
  */
  min-width: 200px;
  height: fit-content;
  margin-bottom: 2%;
}
.title {
  font-size: 20px;
  word-wrap: break-word
}
